streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-teddynote
pdfplumber
PyPDF2
faiss-cpu
python-dotenv
google-generativeai
unstructured[pdf]
pillow
pytesseract
pdf2image
tabulate

